In [ ]:
-- CREATE SCHEMA IF NOT EXISTS
IF NOT EXISTS ( SELECT *
FROM sys.schemas
WHERE NAME =N'DUMMY_SCHEMA' )
EXEC('CREATE SCHEMA DUMMY_SCHEMA');
GO

-- CREATE TABLE IF NOT EXISTS
IF NOT EXISTS ( SELECT *
FROM sys.objects
WHERE object_id =OBJECT_ID(N'DUMMY_TABLE') AND TYPE IN (N'U') )
EXEC('
    CREATE TABLE DUMMY_TABLE (
        NAME VARCHAR(100) NOT NULL
    );
');
GO

-- UPDATE STORED PROCEDURE
IF OBJECT_ID('SP_DUMMY') IS NOT NULL   
    DROP PROCEDURE SP_DUMMY;
GO
EXEC('
    UPDATED STORED PROCEDURE CODE
');

-- FUNCTION
IF OBJECT_ID('GETNAMES', 'FN') IS NOT NULL
    DROP FUNCTION GETNAMES
GO;
EXEC('
    UPDATED FUNCTION CODE 
');

-- INSERT DATA INTO TABLE
IF NOT EXISTS (SELECT *
FROM DUMMY_TABLE
WHERE ID=1)
    INSERT INTO DEMO
VALUES('DUMMY VALEUS');
GO